.ant-card .ant-card-body {
  padding: 0px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background: #2e92ee;
  border-radius: 10px 10px 0px 0px;
}

.card-content {
  padding: 25px;
}