.weightage {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin:8px 0px;
    padding: 8px 8px 3px 8px;
    background: #2e92ee;
}

.disp-f-sb-mb10 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}